@font-face {
  src: url('../assets/fonts/Sansita/Sansita-Regular.ttf');
  font-family: 'Sansita';
}

body {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

.page {
  width: 1110px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.sentence {
  background-color: #FFFFFF;
  width: 670px;
  margin: 20px 0px 0px;
  padding: 12px 16px;
  border-radius: 10px;
  box-shadow: 0px 1px 20px 0px #cec9c9;
}

.question__text{
  font-size: 19px;
  font-weight: 600;
  margin-top: 3px;
  word-wrap: break-word;
  height: auto;
}

.answer__container {
  line-height: 0;
}

.answer__img {
  width: 40px;
  height: 40px;
  border-radius: 100px;
}

.answer {
  display: flex;
  flex-direction: row;
}

.answer_info {
  background-color:#f0f2f2;
  padding: 8px 12px;
  border-radius: 10px;
  margin-left: 7px;
}

.answer__name {
  margin: 0px;
 font-weight: 550;
 font-size: 15px;
}

.answer__text {
  font-size: 17px;
  margin: 5px 0px;
}

.category {
  width: 320px;
  box-shadow: 0px 1px 20px 0px #cec9c9;
  max-height: 600px;
  margin-top: 20px;
}

.category__item {
  padding: 4px 10px;
  border: 1px solid #312e2e;
  border-radius:10px;
  font-size: 18px;
  margin: 0px 10px 10px 0px;
  box-shadow: 0px 1px 5px 0px #cec9c9;
}

.category__list {
  display: flex;
  flex-wrap: wrap;
}

.action__view {
  display: flex;
  justify-content: space-between;
}

.icofont-ui-love {
  font-size: 18px;
  color: rgb(216, 102, 102);
  margin-right: 5px;
}

.action__view {
  color: #312e2e;
}

.action__btn--item {
  width: 230px;
  height: 44px;
  background-color: #FFF;
  border: none;
  font-size: 15px;
  font-weight: 600;
  color: #312e2e;
  padding: 0;
}

.action__btn--item:hover {
  border: 1;
  border-radius: 10px;
  background-color: #dff0f0;
  cursor: pointer;
}

.icofont-share, .icofont-speech-comments, .icofont-love {
  font-size: 18px;
  margin-right: 5px;
}

.action__btn {
  margin: 10px 0px 15px;
  border-top:  1px solid #312e2e;
  border-bottom:  1px solid #312e2e;
  padding: 3px 0px;
  display: flex;
  justify-content: space-between;
}

.category {
  background-color: #FFFFFF;
  padding: 0px 15px;
  border-radius: 10px;
}

.category__title {
  border-top:  1px solid #312e2e;
  border-bottom:  1px solid #312e2e; 
  margin: 10px 0px 15px;
  padding: 8px 10px 8px;
}

.btn-send {
  background-color: #007bff;
  border: none;
  color: #FFF;
  font-size: 15px;
  padding: 10px 25px;
  border-radius: 5px;
  font-weight: 600;
  display: flex;
  margin: 10px auto 0;
}

.text-answer {
  width: 650px;
  font-size: 15px;
  padding: 10px;
}

.show {
  display: none;
}

@media only screen and (max-width: 1110px) {
  .sentence {
    width: 100%;
    box-sizing: border-box;
  }

  .page {
    display: block;
    width: 100%;
  }
  
  .category {
    display: none;
  }

}