@font-face {
    src: url('../assets/fonts/Sansita/Sansita-Regular.ttf');
    font-family: 'Sansita';
    /* src: url('../assets/fonts/Karla/Karla-VariableFont_wght.ttf');
    font-family: 'Karla'; */
}
body {
    padding: 7px;
    font-family: 'Sansita';
}
table {
    font-family: 'Sansita';
}
#card {
    font-family: 'Sansita';
    font-size: 17px;
    font-weight: 500;
    letter-spacing: 1px;
    width: 400px;
    z-index: 100;
    display: none;
}
#card-header {
    display: flex;
    justify-content: space-between;
}
#card-header button {
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#card-question-delete {
    display: none;
}
#card-question-delete button{
    width: 100%;
}
#container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    /* display: flex;
    justify-content: center;
    align-items: center; */
}
#card-update {
    font-family: 'Karla';
    font-size: 17px;
    width: 400px;
    z-index: 100;
    position: fixed;
    display: none;
}
input {
    border: none;
    outline: none;
}