.page  {
  max-width: 1500px;
  margin: 0 auto;
  position: relative;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.title {
  font-size: 40px;
  text-align: center;  
}

.table {
  width: 1200px;
}

.td {
  text-align: center;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #f8efef;
}

.table__th {
  background-color: cornflowerblue;
  color: aliceblue;
  font-size: 20px;
}

input[type=checkbox] {
  width: 20px;
  height: 20px;
  border: 0.1mm solid black;
}

button {
  border: 0.1mm solid black;
  border-radius: 4px;
  font-size: 16px;
  padding: 5px 10px;
  background-color: cadetblue;
  color: aliceblue;
}

.method {
  display: flex;
  flex-direction: column;
}

.method__bnt {
  width: 70px;
  height: 70px;
  padding: 2px;
  text-transform: uppercase;
  align-items: center;
  text-align: center;
  outline: 5px;
  display: flex;
  justify-content: center;
  border: 0.1mm solid black;
  border-radius: 5px;
  margin-top: 5px;
  color: #FFFFFF;
}

.add {
  background-color: rgb(163, 245, 0);
}

.update {
  background-color: rgb(141, 141, 2);
}


.delete {
  background-color: red;
}

.selectall {
  background-color: rgb(3, 139, 139);
}

.menu { 

  position: fixed;
  right: 100px  ;
  top: 100px;
  z-index: 100;
}

