.head {
    background-color: aliceblue;
}

#card, #card-new {
    position: absolute;
    font-family: 'Karla';
    font-size: 17px;
    width: 400px;
    z-index: 100;
    position: fixed;
    top: 200px;
    display: none;
}
#card-header {
    display: flex;
    justify-content: space-between;
}
#card-header button {
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#container {
    display: flex;
    justify-content: center;
    align-items: center;
}